<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head }}
  </head>
  <body>
    {{>flash }}
    <div class="wrapper">
      <header role="navigation">
        {{>sidebar }}
      </header>
      <main role="main" class="">
        <button type="button" id="sidebarToggle" class="btn btn-sm btn-info">
          <i class="fas fa-align-left"></i>
          <span>Menu</span>
        </button>
        {{{ body }}}
        {{>footer }}
      </main>
    </div>
    {{!-- {{>footer }} --}}
    {{>debug }}
  </body>
</html>
