<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head }}
  </head>
  <body>
    {{>flash }}
    <div class="wrapper">
      {{>sidebar }}
      <main role="main" class="">
        {{{ body }}}
        {{>footer }}
      </main>
    </div>
    {{!-- {{>footer }} --}}
    {{>debug }}
  </body>
</html>
