<h2>killer game {{ kid }} update</h2>
<h3>{{ username }}: ☠️</h3>

<p>Sorry, you've lost your last life and are dead! You are now out of this Killer game</p>

<p>You can follow the remainder of this game <a href="https://goalmine.eu/killers/{{ kid }}">here</a>.</p>

{{>emfooter }}
