<p>Hi {{ name }},</p>

<p>You requested your Goalmine password to be reset on {{ date }}.</p>

<p>To reset your password, please click <a href="https://goalmine.eu/users/reset/{{ reset }}">here</a>, or copy and paste the below url into a browser.</p>

<pre>https://goalmine.eu/users/reset/{{ reset }}</pre>

<p>If you did not request a reset, please ignore this email and continue to access Goalmine as normal.</p>

{{>emfooter }}