<section>
  <h3>{{ title }}</h3>

  <form action="/teams/add" method="post">
    <fieldset class="login form-group">
      <input placeholder="team name (required)" type="text" class="form-control" required name="team" id="proposedTeam" /><span role="alert" title="team already exists" class="intrainput" id="team-dup"></span>
      <input placeholder="country (optional)" type="text" class="form-control" name="" id="teamCountry" />
      <input type="hidden" name="country" id="countryCode" />
      <input type="submit" class="form-control btn btn-primary" id="addTeam" />
    </fieldset>
  </form>

</section>
