<section>
  <h2>Page not found</h2>
  <p>Sorry, no page matching that request could be found. You can try browsing the goalmine database below, or select another option from the side menu.</p>
  <ul>
    <li><a href="/weeks">weeks</a></li>
    <li><a href="/teams">teams</a></li>
    <li><a href="/leagues">leagues</a></li>
  </ul>
</section>