textarea.form-control, #sendPreviewPane, #postPreviewPane {
  border: 1px solid $dark-fg;
  font-size: 1.5rem;
  height: 15rem;
  padding: 1.5rem;
}

.form-group {
  margin: 1rem auto;
  max-width: 60%;
  width: 50rem;
}

.form-control {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.login {
  input {
    display: inline-block;
  };

  input[type='submit'] {
    line-height: 0;
  }
}

.easy-autocomplete-container ul {
  width: 15rem;
}

.oddsFields input {
  width: 3rem;
}

.intrainput {
  color: #080;
  cursor: help;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: -3rem;
  min-width: 2.5rem;
  text-align: center;
}

.intrainput.err {
  color: #f00;
}
