@media all and (min-width: 768px) {

  #sidebar {
    margin-left: 0;

    &.active {
      margin-left: -220px;
    }
  }

  .hidesmall {
    display: inherit;
  }

  td.hidesmall, th.hidesmall {
    display: table-cell;
  }

  .matchresult {
    margin: 0 auto 2rem;
    width: 80%;
  }

  .grid td, .grid th {
    font-size: 1rem;
  }
}
