@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('/assets/flags/css/flag-icon.min.css');

// prediction colours
$cd: #ff0; // correct goal difference
$cs: #0f0; // correct score
$cr: #66f; // correct result
$wj: #f66; // wrong result on joker

// block colours
$dark-bg: #222;
$dark-fg: #dedede;

// dynamic colours
$flash-hilite: #7f7;

// import component-specific styles
@import '_tables';
@import '_forms';

// main structural tags
nav, footer {
  background-color: $dark-bg;
  color: $dark-fg;
}

@keyframes fin {
  from {
    background-color: $flash-hilite;
  }

  to {
    background-color: $dark-fg;
  }
}

@-webkit-keyframes fin {
  from {background-color: $flash-hilite; }
  to {background-color: $dark-fg;}
}

.ajaxChange {
  animation-name: fin;
  animation-duration: 2s;
  -webkit-animation-name: fin;
  -webkit-animation-duration: 2s;
}

// last
@import '_media';
