@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('/assets/flags/css/flag-icon.min.css');

// prediction colours
$cd: #ff0; // correct goal difference
$cs: #0f0; // correct score
$cr: #66f; // correct result
$wj: #f66; // wrong result on joker

// block colours
$bg: #fff;
$dark-bg: #222;
$dark-fg: #dedede;

// dynamic colours
$flash-hilite: #7f7;

// import component-specific styles
@import '_tables';
@import '_forms';

// override some bootstrap defaults
.alert {
  margin-bottom: 0;
}

// main structural tags
#sidebar {
  background-color: $dark-bg;
  color: $dark-fg;
  height: 100%;
  margin-left: -220px;
  max-width: 250px;
  min-height: 100vh;
  min-width: 250px;
  text-align: center;
  transition: all .3s;

  &.active {
    margin-left: 0;
  }
}

main {
  padding: 1em;
  width: 100%;
}

.wrapper {
  align-items: stretch;
  display: flex;
  //width: 100%;
}

footer {
  p {
    color: darken($bg, 10%);
    font-size: 1.2rem;
    text-align: center;
  }
}

@keyframes fin {
  from {
    background-color: $flash-hilite;
  }

  to {
    background-color: $dark-fg;
  }
}

@-webkit-keyframes fin {
  from {background-color: $flash-hilite; }
  to {background-color: $dark-fg;}
}

.ajaxChange {
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fin;
  animation-duration: 2s;
  animation-name: fin;
}

// last
@import '_media';
