<section>
  <h3>{{ title }}</h3>

  <form action="/leagues/add" method="post">
    <fieldset class="login form-group">
      <input placeholder="league name (required)" type="text" class="form-control" required name="league" id="proposedLeague" /><span role="alert" title="league already exists" class="intrainput" id="league-dup"></span>
      <input placeholder="country (optional)" type="text" class="form-control" name="" id="leagueCountry" />
      <input type="hidden" name="country" id="countryCode" />
      <input type="submit" class="form-control btn btn-primary" id="addLeague" />
    </fieldset>
  </form>

</section>
