<section>
  <header>
    <h3>About Goalmine</h3>
    <p></p>
  </header>
  <p>Welcome. Goalmine is a website hosting football predictions games. Currently there are three games: the original Goalmine game ('Classic' Goalmine if you like), Premier League tipping, and Killer.</p>
  <h3>Goalmine</h3>
  <p>The original game on this site, Goalmine is a football prediction game, where you predict the score of 12 matches drawn from leagues across the <a href="/about/world">world</a> (mostly from <a href="/leagues/1">big</a> <a href="/leagues/11">leagues</a>, but occasionally <a href="/leagues/44">smaller</a> ones too).</p>
  <p>The game is &pound;1 per week to enter, and their is a cash prize for the person with the most points that week, plus prizes for accumulated points at the end of the season.</p>
  <p>For more information, see the <a href="/about/goalmine">Goalmine</a> pages.</p>
  <h3>Premier League Tipping</h3>
  <p>The Premier League Tipping game started life as a game run by a friend of a friend, managed through a big Excel spreadsheet emailed around to players each week. I converted this into a web app to remove all of the manual updating, formatting and dissemination. Following a quick proof-of-concept app, we went live with Premier League Tipping at the start the 2012/13 season.</p>
  <p>PLT is a virtual betting game, where players make wagers on the week's English Premier League fixtures. For more information, see the <a href="/pages/tipping">Tipping</a> pages.</p>
  <h3>Killer</h3>
  <p>Killer is a knock-out competition, much like Killer Pool. Players pick a premier league / football league match each week, if they get the result (home win/away win/draw) wrong they lose a life. Lose all three lives and it's game over! Last player standing is the winner. For more information, see the <a href="/pages/killer">Killer</a> page.</p>
</section>