<section class="">
  
    <h2>Goalmine</h2>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#about">About</a></li>
      <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#howto">How to Play</a></li>
      <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#rules">Rules</a></li>
      <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#faq">FAQs</a></li>
    </ul>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="about">
      
      <h3>About</h3>
      <p>Goalmine is a football prediction website. Each week, 12 matches are picked and you enter your predictions for these games. You gain points based on how close your prediction was to the result.</p>

      <p>One match is designated the game of the week, and you have a joker which you can play on any of the other 11 games, both of which double your score for that match.</p>

      <p>There is an entry fee of &pound;1 per week.  The player with the most points each week wins a cash prize which is a proportion of the week's entries. The remaining money is banked into a <a href="/money/0">prize pot</a> for the player with the highest score across the league.</p>

      <p>The league will begin in week 305 and run for to the end of the season. As some people will unavoidably miss weeks (or sometimes avoidably&hellip;) then the <strong>top 30 scores</strong> only will count towards the league.</p>
      
      <p>For more information, please see the tabs above</p>
      
    </div>
    
    <div role="tabpanel" class="tab-pane" id="howto">
      <h3>How to play Goalmine</h3>

      <h4>A quick tour</h4>
      <p>Goalmine is built around match weeks. The week starts on a Saturday and ends on a Friday. 12 matches will be chosen for each week, one of which will be the <acronym title="Game of the Week">GotW</acronym>. The matches chosen will nearly always take place Saturday to Wednesday. The main list of weeks is found on the <a href="/weeks">fixtures</a> menu. From here you can see the standings and predictions for that week.</p>
      <p>The 'this week' menu icon will always take you to the predictions for the current week. This is either the calendar week you're in, or the following week if the last match for this week has already been played.</p>
      <p>The standings page shows the players' positions for that week. The predictions page shows a grid of all players' predictions for each match, along with the total predicted goals.</p>
      <p>The options screen allows you to update your details/change your password, invite a friend to take part, see your balance or logout. There are additional options available if you are an administrator.</p>
      <p>Many elements in the various screens are clickable for more information. You can click on:</p>
      <ul>
        <li>Teams (e.g. <a href="/teams/19">West Ham</a>)</li>
        <li>Matches (e.g. <a href="/matches/97">Manchester City v Arsenal</a> 23<sup>rd</sup> Sep)</li>
        <li>Leagues (e.g. <a href="/leagues/11">La Liga</a>)</li>
        <li>Users (e.g. <a href="/users/1">Me</a>)</li>
      </ul>
       <p>to see more information about that item. For instance, clicking on <a href="/teams/19">West Ham</a> will show you a list of Goalmine matches involving West Ham, and the results.</p>

      <h4>Making predictions</h3>
      <p>To edit your predictions, click on the link at the bottom of the predictions screen.</p>
      <p>From the edit screen, you can make predictions for each match. Scores should be entered separated by a dash (-). You must choose one match to be your Joker (double points).</p>
      <p>You can only make or edit predictions up to midday of each Saturday. You can also move your Joker as many times as you wish, but once your chosen joker match has played, you can no longer move it.</p>

      <h4>What's the score?</h4>
      <p>You can find out scores in a number of ways. Clicking on any player will show their weekly score in a graph, along with the number of wins they have. Clicking a bar in the graph will take you to that week. From the fixtures page you can see the standings for any particular week, showing all players' scores. Once the league has started you will be able to click on the menu icon to see the overall league table.</p>

      <h4>Balances</h4>
      <p>You can see your current balance at any time from the options screen. From that screen you can also see a list of all transactions, including all weekly entries and any winnings and deposits.</p>
  
    </div>
    
    <div role="tabpanel" class="tab-pane" id="faq">
      
      <h3>Frequently Asked Questions</h3>

        <dl class="accordion" data-accordion>
          <dd class="accordion-navigation">
            <a href="#faq1">How do I play Goalmine?</a>
            <div id="faq1" class="content">
              First you need an account. Once you have logged on,  you can enter predictions for the week's twelve fixtures. The closer you are to the correct score the more points you score. The player(s) with the most points at the end of the week's matches wins a proportion of the entry money for that week.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq2">So it's a bit like fantasy football?</a>
            <div id="faq2" class="content">
              In a sense yes, but Goalmine is much simpler to play and doesn't require in-depth knowledge of the form of every footballer in the premiership. This makes it more accessible for anyone who isn't a football fanatic, and more interesting than just picking a name out of a hat as in a sweepstake.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq3">So it's more like TalkSport's I Know The Score&hellip;</a>
            <div id="faq3" class="content">
              It is, but predates it considerably. It has its origins in a game I ran at university (with paper, ruler and felt-tip pens in those days), which itself was inspired by a friend's game in secondary school (back when <a href="/teams/106">Luton Town</a> vs <a href="/teams/83">Oxford United</a> was a top-tier <a href="https://en.wikipedia.org/wiki/1986%E2%80%9387_Football_League#Final_league_tables_and_results">fixture</a>) .
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq4">How much does it cost?</a>
            <div id="faq4" class="content">
              The game is &pound;1 per week to enter. The winner each week will receive 75% of the total entry fees, and the remaining 25% will be banked for the overall league prize.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq5">How do I pay?</a>
            <div id="faq5" class="content">
              You can pay me directly, or by PayPal. It's easier if you can pay for multiple weeks at once. If using PayPal, please be sure to mark it as a personal transacation to avoid any fees, and to include your Goalmine username.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq6">How do I see how much money I've put in?</a>
            <div id="faq6" class="content">
              The options screen will show you your current balance. From there you can also click on '<a href="/money/<?php echo $user['id']; ?>">see all transactions</a>' to see the details. This screen lists all entry fees, winnings and money paid or out at any time.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq7">How do I invite somebody to join?</a>
            <div id="faq7" class="content">
              On your options screen, there is a link to an invite form. Fill in their email address and they will be sent an e-mail with a unique URL on this site to verify their detail. <br />You can personalise the invitation email, and have a copy sent to your inbox.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq8">How are the games chosen?</a>
            <div id="faq8" class="content">
              I try and pick the games one or two weeks in advance (any more than that and you run the risk of a schedule bump). Matches are predominantly taken from the Premier League and other 'big' leagues, but could come from pretty much <a href="/competitions/view/17">anywhere</a>. There may also be thematic weeks as the season progresses.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq9">How do I make predictions?</a>
            <div id="faq9" class="content">
              Once logged in, you will see a link on the menu to the current week being played, or a list of active weeks (ones where fixtures have been input). From these screens you will be able to make or edit predictions for any game not yet played, as well as set your joker.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq10">How do I see what predictions have been made?</a>
            <div id="faq10" class="content">
              Clicking on any match will take you the predictions for that match. Alternatively click on the table link for each week to see a grid of all predictions for that week.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq11">Do I need to make all my predictions before the week starts?</a>
            <div id="faq11" class="content">
              Yes, all predictions must be made by midday on the Saturday of that game week.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq12">What is a joker and how do I use it?</a>
            <div id="faq12" class="content">
              You may nominate one match each week to be your joker,and that game will score you <strong>double</strong> points.<br />On the edit predictions screen, you can choose the match on which you want to play your joker from the last column. You cannot play your joker on the Game of the Week.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq13">What is the Game of the Week?</a>
            <div id="faq13" class="content">
              The Game of the Week is the match which I have chosen to be the stand-out fixture for that week. Usually this means a big game, local derby, or top-of-the-table clash etc. Like a joker, the game of the week will score you <strong>double</strong> points.
            </div>
          </dd>
          <dd class="accordion-navigation">
            <a href="#faq14">How does the scoring system work?</a>
            <div id="faq14" class="content">
              You get 5 points for predicting the correct score exactly, 3 points if you get the correct winning margin,and 1 point for predicting the correct winner. A joker on the match doubles the score. More details are on the <a href="#rules">rules</a> page.
            </div>
          </dd>
        </dl>

    </div>

    <div role="tabpanel" class="tab-pane" id="rules">
      <h3>Rules</h3>
      <ol>
        <li>The entry fee is &pound;1 per week.</li>
        <li>There will be one main prize for the player with the highest score at the end of the week. the first prize will be 75% of the total entry fees. The remaining 25% will be added to the league pot.</li>
        <li>Players must create an account to take part. To create an account you must be invited by an existing member.</li>
        <li>One match each week will be chosen as the Game of the Week (GotW). This match will score <strong>double</strong> points.</li>
        <li>Each week, players must nominate one match in each group as their joker,which will also score <strong>double</strong> points for that match.</li>
        <li>Results of the matches will be updated on the site as soon as possible following the game.</li>
        <li>Once a match has taken place,any prediction for that match cannot be changed, even if the site has not yet been updated with the final score.</li>
        <li>Match predictions can be made or amended any time up until the deadline</li>
        <li>Your joker match can be changed as many times as you wish up to the day the match takes place. Following that, the joker cannot be moved to another match in the week, even though unplayed matches can still be edited.</li>
        <li>Points will be awarded for each prediction as follows:
          <ul>
            <li><strong>5 points</strong> - Predicting the correct match score (e.g. Score: 2-1, Prediction 2-1)</li>
            <li><strong>3 points</strong> - Predicting the correct winning margin (e.g. Score: 2-1, Prediction 1-0)</li>
            <li><strong>1 point</strong> - Predicting the correct winner (e.g. Score: 2-1, Prediction 3-0)</li> 
            <li><strong>0 points</strong> - Any other result / no prediction entered</li>
          </ul>
          GotW and Joker matches double the above scores
        </li>
        <li>The player (or players) whose total number of goals predicted is closest to the actual number of goals, will receive a bonus score of <strong>3</strong> points.</li>
        <li>Final scores will be those at full-time. If a match goes to extra-time, then the final score at the end of extra-time will be counted. Penalty shootouts will <strong>not</strong> count towards the result nor the number of goals scored</li>
        <li>In any event that a match is not completed during the week, that match is null and void and will score zero points.</li>
        <li>The winner of each week will be the person with the highest score, following the final match. If there is a tie at the end of the week then the money will be shared equally.</li>
      </ol>

    </div>
  </div>
  
</section>
