<section>
  
  <header>
    <h2>Premier League Tipping</h2>
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#about">About</a></li>
      <li class="tab-title"><a href="#howto">How to Play</a></li>
      <li class="tab-title"><a href="#rules">Rules</a></li>
    </ul>
  </header>

  <div class="tabs-content">
    <div class="content active" id="about">
      <h3>About</h3>
      <p>Goalmine Tipping is a web-based virtual betting game. Each week, players are given a virtual £100 to bet on any Premier League match that week.</p>
      <p>Players must bet on 3-5 games each week, staking between £20 and £60 on a home win, away win or draw. The odds for each match are taken from a bookmaker's published odds. The winner of the league will be the player with the largest profit over the course of the Premier League season.</p>
      <p>Goalmine Tipping is not currently open to new players.</p>
      <p>For more information, see the tabs along the top of this page.</p>
    </div>

    <div class="content" id="howto">
      <h3>How to Play</h3>
      <p>You must be a registered player to take part. Each week up to ten Premier League fixtures will be published on the website, together with odds for a home win, away win and draw.</p>
      <p>From the main menu, select the current week to be taken to the edit bets screen.</p>
      <p>On the edit bets screen, use the tick boxes to select between three and five matches. For each match you have selected, pick either a home win, away win or draw from the odds buttons, and an amount to stake, in £5 intervals between £20 and £60.</p>
      <p>You must bet the full £100 dollars. At the top of the screen you can see your current total stake, number of matches, and maximum potential return.</p>
      <p>in the image below, a £25 bet has been made on a draw between Tottenham and Newcastle, at odds of 3.75.</p>
      <img src="/img/bets_ss.png" class="ss" alt="image of bet edit screen" />
      <p>You can see the bets of every player on the view bet screen, in a table format. The standings tab on the same page will show the current week's profits and losses in a league table. Towards the end of the season, you will only be able to see other players' bets once the deadline has expired.</p>
    </div>

    <div class="content" id="rules">
      <h3>Rules</h3>
      <ol>
        <li>The entry fee is &pound;30 ($50 AUS).</li>
        <li>Anyone not playing for a given week will score a loss of the £100 for that week.</li>
        <li>The entire $100 must be wagered each week, on 3,4 or 5 games.</li>
        <li>The minimum bet on a match is £20, the maximum is £60. Bets must be in £5 intervals.</li>
        <li>Each week runs from Saturday to Friday.</li>
        <li>The deadline for each week is 11:00 GMT on Saturday (currently 22:00 Australian <a href="http://en.wikipedia.org/wiki/Time_in_Australia">Eastern Time</a>)</li>
      </ol>
    </div>

  </div>

</section>