<section>

  <h3>Oops, so you've forgotten your password..?</h3>
  <form action="/users/forgot" method="post" id="forgotPassword">
    <fieldset class="login form-group">
      <p>Please fill in your username and email address you used to register, and you'll be sent a reset code by email.</p>
      <input type="text" class="form-control" required autocomplete="off" id="forgotuid" placeholder="username" name="username" /><span id="erroruid" class=""></span>
      <input type="email" class="form-control" required autocomplete="off" id="forgotemail" placeholder="e.g. neymar@psg.fr" name="email" />
      <input type="submit" class="form-control btn btn-primary" id="forgotsubmit" value="Find Me" />      
    </fieldset>
  </form>
  
</section>