<section class="row">
  <div class="col-sm-12">
    <h3>Login</h3>
    <form action="/login" method="post">
      <fieldset class="login form-group">
        <input type="text" class="form-control" placeholder="username" name="username"/>
        <input type="password" class="form-control" placeholder="password" name="password"/>
        <input type="submit" class="form-control btn btn-sm btn-primary" value="Log In"/>
      </fieldset>
    </form>
  </div>
  <div class="col-sm-12">
    <div style="margin: 0.75em auto; max-width: 60%;">
      <span>
        <small><a href="users/forgot">Forgot</a> your password?</small>
      </span>       
    </div>

  </div>
</section>